/* *{
	border:2px solid pink;
	
} */

div {
	
    text-align: center;
    font-size: 100px;
     /*background-image:url(paper.jpg);*/

}


.child {
    background-color: pink;
    font-size: 20px;
}

* {

}

p {
    background-color: pink;
    float: left;
    height: 100px;
    width: 336px;
    position: relative;
    top: -39px;
}

.s {
    border: 1px solid black;
    background-color: #32a873;
    font-size: 40px;
}

.img {

    height: 500px;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image:url(paper.jpg);

}

nav {
    background: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .4s ease-in-out;
}

.topmenu {
    text-align: center;
    padding: 10px 0;
}

.topmenu > li {
    display: inline-block;
    position: relative;
    

}

.topmenu > li:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    background: #d2d2d2;
    top: 16px;
    box-shadow: 4px -2px 0 #d2d2d2;
    transform: rotate(30deg);
}

.topmenu > li:last-child:after {
    background: none;
    box-shadow: none;
}

.topmenu > li > a {
    padding: 12px 26px;
    color: #767676;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;

}

.topmenu li a:hover {
    color: #c0a97a;
}

.submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
}

.submenu li a {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    color: #484848;
    font-family: 'Kurale', serif;
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.scin{
margin:10px;
padding:10px;
height:250px;
}
.lol{
	float:left;

}
.mad{
	height:300pt;
	
	margin-left:50px;
	
}
.ol{
/*     background-color: white; */
	/* opacity:50%; */
font-size:25pt;
font-family:Arial Black;
margin-left:15pt;
}

.ll{
float:right;
margin-right:50px;
 }
.foot{
 width:100%;
font-family: monospace;
font-size:30px;
}
*{
font-family: monospace;}